
@model CurrentSignInModel

<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Login</h3>
        <span class="fa fa-lock"></span>
        <div class="clear"></div>
        <div class="login-agileits-top">
            <form asp-action="CurrentLogin" method="post">

                <input type="text" class="name" asp-for="UserName" Placeholder="Username" required="" />
                <input type="password" class="password" asp-for="Password" Placeholder="Password" required="" />
                <input type="submit" value="Login">
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" asp-for="RememberMe" checked=""><i> </i>Remember me</label>
                </div>
            </form>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
</div>